
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: black;
  text-align: center;
}

.zaglavlje {
  background-color: #0077b6;
  color: white;
  padding: 60px 20px 40px 20px;
}
.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  margin: 0;
  color: white;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  margin: 5px 0 30px 0;
  color: #e0e8f2;
}

.navbar {
  background-color: #d7ecfa;
  padding: 12px 0;
  border-radius: 40px;
  width: fit-content;
  margin: 0 auto;

}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0 30px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar a:hover {
  font-weight: bold;
  color: #0077b6;
}

.image-section img {
  gap:20 px;
  width: 950px;
  height: auto;
  margin-top: 50px;
  border-radius: 25px;
}

.textbox {
  background-color: #d7ecfa;
  border-radius: 25px;
  max-width: 911px;
  margin: 40px auto;
  padding: 30px 25px;
}

.textbox h3 {
  color: #0077b6;
  margin-bottom: 10px;
}
.textbox h4{
  font-family:Dancing Script;
  font-weight: bold;
  color: #0594e2;
  font-size: 20px;
}
.textbox p {
  line-height: 1.7;
  font-size: 17px;
  color: black;
}

.trislike {
  display: flex;
  justify-content: space-between; 
  margin: 50px auto;
  gap:20px;
  max-width: 911px;  
}

.trislike img {
  width: 299px;      
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.kartice-sekcija {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 911px; 
  margin: 50px auto;
}

.kartica {
  background-color: #d7ecfa;
  border-radius: 15px;
  width: 280px;
}

.kartica img {
  width: 100%;       
  height: 200px;      
  object-fit: cover;  
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;   
}


.kartica-body {
  margin:10px;
  text-align: center;
}

.kartica-body h3 {
  color: #0077b6;
}

.forma {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #d7ecfa;
  border-radius: 25px;
  text-align: center;
}

.forma h3 {
  color: #0077b6;
  margin-bottom: 10px;
}

.forma p {
  color: black;
  font-size: 16px;
  line-height: 1.6;
}
.forma label{
  color:#0077b6;
  text-align: left;
  display:block;
}

.forma input,
.forma select,
.forma textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px  #ccc;
}

.forma button {
  padding: 12px 25px;
  border-radius: 20px;
  background-color: #0077b6;
  color: white;
}

.forma button:hover {
  background-color: #005f8d;
}
.backlink a {
  color: #0077b6;
  font-weight: 500;
}

.backlink a:hover {
  text-decoration: bold;
  color: #005f8d;
}
.copyright {
  text-align: center;
  font-size: 14px;
  color:#0077b6;
  margin: 30px 0 10px 0;
}

